<?xml version="1.0"?>
<config>
    <modules>
        <Cadence_Pinterest>
            <version>2.0.0</version>
        </Cadence_Pinterest>
    </modules>
    <global>
        <helpers>
            <cadence_pinterest>
                <class>Cadence_Pinterest_Helper</class>
            </cadence_pinterest>
        </helpers>
        <models>
            <cadence_pinterest>
                <class>Cadence_Pinterest_Model</class>
            </cadence_pinterest>
        </models>
    </global>
    <frontend>
        <layout>
            <updates>
                <cadence_pinterest>
                    <file>cadence_pinterest.xml</file>
                </cadence_pinterest>
            </updates>
        </layout>
        <events>
            <sales_quote_product_add_after>
                <observers>
                    <cadence_pinterest_add_to_cart>
                        <class>Cadence_Pinterest_Model_Observer</class>
                        <method>onSalesQuoteProductAddAfter</method>
                    </cadence_pinterest_add_to_cart>
                </observers>
            </sales_quote_product_add_after>
        </events>
    </frontend>
    <default>
        <cadence_pinterest>
            <visitor>
                <enabled>0</enabled>
            </visitor>
            <conversion>
                <enabled>0</enabled>
            </conversion>
            <add_to_cart>
                <enabled>0</enabled>
            </add_to_cart>
        </cadence_pinterest>
    </default>
</config>